<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>lab01-hello-world</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.wplab.helloworld.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <description></description>
    <display-name>IntervalSumServlet</display-name>
    <servlet-name>IntervalSumServlet</servlet-name>
    <servlet-class>com.wplab.helloworld.IntervalSumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervalSumServlet</servlet-name>
    <url-pattern>/intervalsum</url-pattern>
  </servlet-mapping>
 -->
</web-app>